<div class="col-md-9">
    <div class="card">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">File</th>
                <th scope="col">last modified</th>
                <th scope="col">open</th>
                <th scope="col">save</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>excel</td>
                <td>19-04-2019</td>
                <td>view</td>
                <td>download</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>doc</td>
                <td>19-04-2019</td>
                <td>view</td>
                <td>download</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>14-05-20018</td>
                <td>view</td>
                <td>download</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>excel</td>
                <td>19-04-2019</td>
                <td>view</td>
                <td>download</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>doc</td>
                <td>19-04-2019</td>
                <td>view</td>
                <td>download</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>14-05-20018</td>
                <td>view</td>
                <td>download</td>
              </tr>
              
            </tbody>
          </table>
          
    </div>
</div>