.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left:27%;
}
.login-form-2{
    padding: 5%;
    background: 	#4682B4;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.col-md-6.login-form-2{
    position: absolute;
    max-width: 40%;
}

