.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    margin-left: 22%;
    margin-top: 5%;
}
.btnSubmit{
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}
.ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.form{
    margin-top: 10%;
}

h3{
    text-align: center;
    color: #fff;
    font-style: oblique;
}
